.detail {
    flex: 1;

    .user {
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid gray;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .info {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .option {

            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 30px;
                    height: 30px;
                    background-color: #fff;
                    cursor: pointer;
                }
            }

            .photos {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-top: 20px;

                .photoItem {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .photoDetail {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        img {
                            width: 60px;
                            height: 60px;
                            border-radius: 5px;
                        }

                        span{
                            font-size:14px ;
                            color:lightgray;
                            font-weight: 300;
                        }
                    }

                    .icon{
                        width: 40px;
                        height: 40px;
                        background-color: gray;
                        padding: 10px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }

                
            }
        }
        button{
                    padding: 15px;
                    background-color: rgba(255, 0, 0, 0.493);
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover{
                        background-color: rgb(255, 0, 0);
                    }

                    &.logout{
                        padding: 10px;background-color: rgb(12, 152, 207);
                    }
                }
    }
}