.chat {
    flex: 2;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid gray;

        .user {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }

            .texts {
                display: flex;
                flex-direction: column;
                gap: 5px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                }

                p {
                    font-size: 14px;
                    font-weight: 300;
                    color: #a5a5a5;
                }
            }
        }

        .icons {
            display: flex;
            gap: 20px;

            img {
                width: 27px;
                height: 27px;
                cursor: pointer;
            }
        }
    }

    .center {
        padding: 20px;
        flex: 1;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .message {
            max-width: 70%;
            display: flex;
            gap: 20px;

            &.own {
                align-self: flex-end;

                .text {
                    p {
                        background-color: darkgreen;
                        padding: 10px;
                        border-radius: 30px;
                    }
                }
            }

            img {
                width: 50px;
                height: 5cqh;
                border-radius: 50%;
                object-fit: cover;
            }

            .text {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;

                img {
                    width: 100%;
                    height: 300px;
                    border-radius: 10px;
                    object-fit: cover;
                }

                p {
                    padding: 20px;
                    background-color: rgba(0, 0, 0, 0.233);
                    border-radius: 10px;
                }

                span {
                    font-size: 13px;
                    color: rgba(255, 255, 255, 0.637);
                }
            }


        }
    }

    .bottom {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dddddd35;
        gap: 20px;

        .icons {
            display: flex;
            gap: 20px;

        }

        img {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        input {
            flex: 1px;
            background-color: rgba(17, 25, 40, 0.5);
            border: none;
            border-radius: 20px;
            padding: 10px;
            outline: none;
            color: white;
            font-size: 16px;
        }

        .emoji {
            position: relative;

            .picker {
                position: absolute;
                bottom: 50px;
                left: 0
            }
        }

        .sendButton {
            background-color: rgb(51, 145, 223);
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
    }
}