.chatList{
    .search{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;


        .searchBar{
            flex:1;
            background-color: rgba(17,25,40,0.5);
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 10px;
            padding: 7px;

            input{
                background-color: transparent;
                border:none;
                outline: none;
                color: white;
                flex: 1;
            }

            img{
                width: 20px;
                height: 20px;
            }
        }

        .add{
            width: 39px;
            height: 39px;
            background-color: rgba(17,25,40,0.5);
            padding:10px;
            border-radius: 10px;
            cursor: pointer;
        }

    }
}